name: bot

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install dhooks

      - name: Send Discord webhook
        env:
          bot: ${{ secrets.BOT }}
        run: |
          python bot.py
