name: prijava ispita

on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 25 12 *'
    - cron: '0 5 30 12 *'   
    - cron: '0 5 2 2 *'    
    - cron: '0 5 7 4 *'    
    - cron: '0 5 8 6 *'     
    - cron: '0 5 13 7 *'    
    - cron: '0 5 4 9 *' 

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install dhooks

      - name: Send Discord webhook
        env:
          grupa: ${{ secrets.GRUPA }}
        run: |
          python bot-ispiti.py
